:root {
    --primary-color: #cb6491;
    --secondary-color: #c1c1c1;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main {
    background-color: var(--primary-color);
    padding-bottom: 30px;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 1230px;
}

header {
    background-color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-message {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul#menu-bar {
    margin-right: 15px;
}

nav ul li {
    margin-left: 30px;
}

nav ul li .menu-option {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5px;
    transition: 0.3s;
}

nav ul li .menu-option:hover {
    color: var(--primary-color);
}

#social li a img {
    width: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
}

p {
    text-align: center;
    line-height: 25px;
}

footer > p > a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

/* About me section */
#about-me {
    display: flex;
}

#content {
    display: inline-block;
    vertical-align: top;
    max-width: 680px;
    margin: 20px;
}

#content > h1, h2#typewriter, p {
    text-align: center;
}

#personal-image {
    display: inline-block;
    max-width: 500px;
    margin: 0 auto;
}

#change-color-theme {
    background-color: var(--primary-color);
    border-radius: 20%;
    width: 23px;
    height: 23px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

#change-color-theme:hover {
    animation: shaking 0.3s linear 2;
}

.social-option:hover {
    animation: shaking 0.3s linear 2;
}

@keyframes shaking {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-7deg);
    }
    70% {
        transform: rotate(7deg);
    }
}

#welcome {
    display: flex;
}

#interests-top-line, #interests-bottom-line {
    display: block;
}

#interests {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.box-interest {
    width: 200px;
    max-height: 280px;
    background-color: white;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    transition: 0.3s;
    flex: auto;
}

.box-interest > h1 {
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
}

#title-interests {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 30px;
}

#interests > .box-interest > i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
}

.box-interest:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    #menu-bar {
        padding: 10px;
    }
    nav > #menu-bar > li {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    #about-me {
        flex-direction: column;
    }
    #personal-image {
        max-width: 50%;
    }
    nav {
        display: block;
    }
    #social {
        flex-direction: row;
        padding: 30px;
    }
}

@media (max-width: 1200px) {
    main {
        padding-top: 30px;
    }
    #personal-image {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #content {
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-flow: column nowrap;
    }
}

/* Projects section */
#projects {
    background-color: white;
    padding: 50px;
    margin: 20px 0px;
}

/* Contact section */
#contact {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

form {
    margin: auto;
}

.info {
    padding: 10px;
    margin: 20px;
    border-bottom: 1px solid black;
}

input {
    padding: 10px;
    border: none;
    width: 90%;
}

input:focus {
    outline: none;
}

#form-image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: auto;
}

#form-content > h1, #form-content > h2 {
    margin-left: 20px;
    text-align: left;
}

#form-content > h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: normal;
}

#form-content {
    background-color: white;
    width: 767px;
    min-width: 580px;
    padding: 20px;
    text-align: left;
    margin: auto;
}

@media (max-width: 940px) {
    #contact {
        flex-direction: column;
    }
}

#button-submit {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    transition: 0.3s;
}

#button-submit:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Scroll top button */
#button-scroll-top {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    float: right;
    transition: 0.3s;
}

#button-scroll-top:hover {
    background-color: var(--secondary-color);
}

#button-scroll-top img {
    width: 40px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Footer */
footer {
    text-align: center;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 30px;
    font-size: small;
}